.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --primary-color:#03a7a7;
}
.back-primary{
  background-color: var(--primary-color);
}
.slick-prev:before,
.slick-next:before
{
    color: var(--primary-color) !important; 
    outline: none;
    background: transparent;
    font-size: 30px !important;
    
}
.slick-prev{
  left:10px !important;
  z-index: 99;
}
.slick-next{
  right: 17px !important;
  z-index: 99;
}
.slick-dots{
  bottom: 5px !important;
}
.slick-dots li button:before{
  color: var(--primary-color) !important;
}
.slick-dots li.slick-active button:before{
  color: var(--primary-color) !important
}
/* navbar */
.navbar-posisi{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 100;
}
.kontainer{
  margin-left: 7%;
  margin-right: 7%;
}
body{
/* background-color: yellow !important  */

}
/* div{
  border: 1px solid orange
} */
.carousel-control-prev,.sr-only{
  color: yellow !important;


}
/* footer */
.bg-footer{
  background-color: lightgrey;
  color:rgb(95, 94, 94)
}
.navbar-toggler{
  background-color: #428bca!important;
}
.navbar-toggler:focus{
  outline: none !important;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
.heading-dalam{
  font-size: 14px;
}
.mg-bawah{
  padding-bottom: 8%;
}