.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
*:focus{
  outline: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --primary-color:#03a7a7;
}
.back-primary{
  background-color: var(--primary-color);
}
.slick-prev:before,
.slick-next:before
{
    color: var(--primary-color) !important; 
    outline: none;
    background: transparent;
    font-size: 30px !important;
    
}
.slick-prev{
  left:10px !important;
  z-index: 99;
}
.slick-next{
  right: 17px !important;
  z-index: 99;
}
.slick-dots{
  bottom: 5px !important;
}
.slick-dots li button:before{
  color: var(--primary-color) !important;
}
.slick-dots li.slick-active button:before{
  color: var(--primary-color) !important
}
/* navbar */
.navbar-posisi{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  transition: 200ms;
  z-index: 100;
}
.kontainer{
  margin-left: 7%;
  margin-right: 7%;
  
}

.header-search{
  left: 30%;
  top:10px;
  z-index: 101;
  width: 40% !important;
  border: #428bca solid 2px;
  border-right: transparent
}
.header-search-top{
  border: white solid 1px;
}
.header-search input{
  width: 78% !important;
  border: transparent;
  margin: 1px;
}
.header-search input ::placeholder{
  color: white
}
.header-search input :focus{
  outline: none !important;

}
.header-search button{
  width: 18% !important;
}
.icon-search{
  width: 5% !important;
  padding: 1% 0 0 1.5%;
}
.search-open{
  top:52px;
  border: #428bca solid 2px;
  border-top: transparent;
  
}
.header-cart{
  left: 85%;
  /* border: solid 1px blue; */
  font-size: 27px;
  top:10px;
}
.header-cart span{
  font-size: 11px;
  position: absolute;
  top: 10px;
  right: 20%;
}
.header-bell{
  left: 82%;
  /* border: solid 1px blue; */
  font-size: 27px;
  top:10px;
}
.header-bell span{
  font-size: 11px;
  position: absolute;
  top: 11px;
  right: 19.5%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:lightgray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187); 
}
/* ::-webkit-scrollbar-button:single-button{
  background: white;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
  
} */
/* ::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #428bca transparent;
  
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #428bca transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #1f4465 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-width: 8px 8px 0 8px;
  border-color: #1f4465 transparent transparent transparent; */
/* } */
::placeholder{
  color:#428bca;
}
.change::-webkit-input-placeholder{
  color: white !important;
}

/* body{
background-color: yellow !important 

} */
/* div{
  border: 1px solid orange
} */
.carousel-control-prev,.sr-only{
  color: yellow !important;


}
.home{
  margin-top: 5%;
}
/* footer */
.res-kon{
  margin-left: 7%;
  margin-right: 7%;
}
.bg-footer{
  background-color: lightgrey;
  color:rgb(95, 94, 94)
}
.navbar-toggler{
  background-color: transparent!important;
  border: transparent
}
.navbar-toggler:focus{
  outline: none !important;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
.heading-dalam{
  font-size: 14px;
}
.mg-bawah{
  padding-bottom: 8%;
}
/* login--register */
.login{
  /* background-color: whitesmoke; */
  width: 100%;
  border: #428bca 1.5px solid;
  /* box-shadow: #08080853 4px 4px */
}
.input-data{
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-bottom: 0.5px solid #428bca;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  color: #428bca;
  font-weight: bolder;
}
.input-data:focus{
  outline: none;
}
.tab-prod:hover{
  cursor: pointer;
}
@media only screen and (max-width:700px){
  .kontainer{
      margin-left: 0;
      margin-right: 0%;
  }
  .home{
    margin-top: 15%;
  }
  .res-search{
    width: 100%;
    
  }
  .header-search{
    left: 39%;
    top:50px;
    width: 60% !important;
  }
  .header-search input{
    width: 78% !important;
    border: transparent;
    margin: 1px;
    margin-left: 3px;
  }
  .header-search input :focus{
    outline: none !important;
  
  }
  .header-search button{
    width: 25% !important;
  }
  .icon-search{
    display: none;
  }
  .search-open{
    top:92px;
  }
  .header-cart{
    left: 93%;
    /* border: solid 1px blue; */
    font-size: 27px;
    top:10px;
  }
  .header-cart span{
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 20%;
  }
  .header-bell{
    left: 87%;
    /* border: solid 1px blue; */
    font-size: 27px;
    top:10px;
  }
  .header-bell span{
    font-size: 11px;
    position: absolute;
    top: 11px;
    right: 19.5%;
  }
  .res-kon{
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}